<a
  class="grid-block"
  href="<%= `${definitionPathPrefix}/blocks/${block.id}` %>"
  style="<%= `width: ${helpers.rand(150, 250)}px;` %>; --original-rotation: <%= helpers.rand(-20, 20) %>deg ; --hover-rotation: <%= helpers.rand(-20, 20) %>deg;"
>
  <img src="<%= block.image.display.url %>" />
</a>

<%# add 'show' link to view full attachment on are.na %>
