<a
  class="grid-block large-display"
  href="<%= `${definitionPathPrefix}/blocks/${block.id}` %>"
  style="
  --width: <%= helpers.rand(150, 250) %>px;
  --original-rotation: <%= helpers.rand(-20, 20) %>deg ;
  --hover-rotation: <%= helpers.rand(-20, 20) %>deg;"
>
  <img src="<%= block.image.display.url %>" />
</a>

<a
  class="grid-block medium-display"
  href="<%= `${definitionPathPrefix}/blocks/${block.id}` %>"
  style="
  --width: <%= helpers.rand(100, 200) %>px;
  --original-rotation: <%= helpers.rand(-20, 20) %>deg;
  --hover-rotation: <%= helpers.rand(-20, 20) %>deg;"
>
  <img src="<%= block.image.display.url %>" />
</a>

<a
  class="grid-block small-display"
  href="<%= `${definitionPathPrefix}/blocks/${block.id}` %>"
  style="
  --width: <%= helpers.rand(75, 150) %>px;
  --original-rotation: <%= helpers.rand(-20, 20) %>deg;"
>
  <img src="<%= block.image.display.url %>" />
</a>
