<a
  class="grid-block text-block"
  href="<%= `${definitionPathPrefix}/blocks/${block.id}` %>"
  style="
  --width: <%= helpers.rand(200, 350) %>px;
  --original-rotation: <%= helpers.rand(-10, 10) %>deg ;
  --hover-rotation: <%= helpers.rand(-10, 10) %>deg;"
>
  <div>
    <%- block.content_html %>
  </div>
</a>
