<a
  class="grid-block channel-block"
  href="<%= `${definitionPathPrefix}/channels/${block.id}` %>"
  style="<%= `width: auto;` %>; --padding: <%= helpers.rand(2, 5) %>em; --margin: <%= helpers.rand(0, 4) %>em; --original-rotation: <%= helpers.rand(-10, 10) %>deg; --hover-rotation: <%= helpers.rand(-10, 10) %>deg;"
>
  <%= block.title %>
</a>
