<a
  class="grid-block channel-block"
  href="<%= `${definitionPathPrefix}/channels/${block.slug}` %>"
  style="
  --padding: <%= helpers.rand(3, 4.5) %>em;
  --margin: <%= helpers.rand(-0.5, 3.5) %>em;
  --original-rotation: <%= helpers.rand(-15, 15) %>deg;
  --hover-rotation: <%= helpers.rand(-15, 15) %>deg;"
>
  <%= block.title %>
</a>
