<%- include('partials/header'); -%>
<main id="channel">
  <h1 class="page-title">
<<<<<<< HEAD
    <a href="/">syn-site</a> | "<%= title %>" marginalia
=======
    notes towards <a href="<%= `${definitionPathPrefix}/` %>">a syn-site</a>: <%= title %>
>>>>>>> d26121afce52114e6cf28058ca14b02a70dc525e
  </h1>
  <div class="grid">
    <div class="stamp blank-stamp-top-left"></div>
    <div class="stamp blank-stamp-top-right"></div>
    <div class="stamp blank-stamp-top-center"></div>
    <%- include('partials/definition', { block: definition, definitionPathPrefix, definitions }); -%>
    <% for (let block of helpers.shuffle(contents)) { %>
      <% if (block.class == 'Image') { %>
        <%- include('partials/block-image', { block, definitionPathPrefix }); -%>
      <% } else if (block.class == 'Text') { %>
        <%- include('partials/block-text', { block, definitionPathPrefix}); -%>
      <% } else if (block.class == 'Link') { %>
        <%- include('partials/block-link', { block, definitionPathPrefix}); -%>
      <% } else if (block.class == 'Attachment') { %>
        <%- include('partials/block-attachment', { block, definitionPathPrefix}); -%>
      <% } else if (block.class == 'Media') { %>
        <%- include('partials/block-media', { block, definitionPathPrefix}); -%>
      <% } else if (block.class == 'Channel') { %>
        <%- include('partials/channel-block', { block, definitionPathPrefix}); -%>
      <% } %>
    <% } %>
  </div>
  <div class="footer-gradient"></div>
</main>
<%- include('partials/footer'); -%>
