<%- include('partials/head'); -%>
<main id="channel">
  <%- include('partials/nav'); -%>
  <div class="grid">
    <div class="stamp blank-stamp-top-left"></div>
    <div class="stamp blank-stamp-top-right"></div>
    <%- include('partials/definition', { block: definition, definitionPathPrefix, definitions }); -%>
    <% for (let block of helpers.shuffle(contents)) { %>
      <% if (block.class == 'Image') { %>
        <%- include('partials/block-image', { block, definitionPathPrefix }); -%>
      <% } else if (block.class == 'Text') { %>
        <%- include('partials/block-text', { block, definitionPathPrefix}); -%>
      <% } else if (block.class == 'Link') { %>
        <%- include('partials/block-link', { block, definitionPathPrefix}); -%>
      <% } else if (block.class == 'Attachment') { %>
        <%- include('partials/block-attachment', { block, definitionPathPrefix}); -%>
      <% } else if (block.class == 'Media') { %>
        <%- include('partials/block-media', { block, definitionPathPrefix}); -%>
      <% } %>
    <% } %>
  </div>
</main>
<%- include('partials/footer'); -%>
