<%- include('partials/header'); -%>
<main id="index">
  <h1 class="page-title">
    <%= title %>
  </h1>
  <div class="grid">
    <%- include('partials/definition', { block: definition, definitionPathPrefix, definitions }); -%>
    <% for (let block of helpers.shuffle(contents)) { %>
      <% if (block.class == 'Channel') { %>
        <%- include('partials/block-channel-title', { block, definitionPathPrefix }); -%>
      <% } %>
    <% } %>
  </div>
</main>
<%- include('partials/footer'); -%>
