<%- include('partials/header'); -%>
<main id="index">
  <h1 class="channel-title"><%= title %></h1>
  <div class="grid">
    <% for (let block of helpers.shuffle(contents)) { %>
      <% if (block.id == '10694608') { %>
        <%- include('partials/definition', { block: block }); -%>
      <% } else if (block.class == 'Channel') { %>
        <%- include('partials/block-channel-title', { block: block }); -%>
      <% } %>
    <% } %>
  </div>
</main>
<%- include('partials/footer'); -%>
