<%- include('partials/header'); -%>
<main id="show">
  <div class="block">
    <% if (image) { %>
      <img src="<%= image.large.url %>" />
    <% } %>
    <% else if (text) { %>
      <div class="block-content">
        <%= content %>
      </div>
    <% } %>
  </div>
  <div class="block-metadata">
    <div class="block-metadata-title"><%= title %></div>
    <% if (description_html) { %>
      <div class="block-metadata-description">
        <%- description_html %>
      </div>
    <% } %>
    <% if (source) { %>
      <div class="block-metadata-source">
        Source: <a href="<%= source.url %>"><%= source.title %></a>
      </div>
    <% } %>
  </div>
</main>
<%- include('partials/footer'); -%>
