<%- include('partials/header'); -%>
<main id="show">
  <h1 class="page-title">
    <a href="/">syn-site</a> | marginalia detail
  </h1>
  <div class="block">
    <% if (embed) { %>
      <a href="<%= source.url %>"><img src="<%= image.large.url %>" /></a>
    <% } else if (content) {%>
      <div class="block-content-clicked">
        <%- content_html %>
      </div>
    <% } else { %>
      <img src="<%= image.large.url %>" />
    <% } %>
  </div>
  <div class="block-metadata">
    <div class="block-metadata-title"><%= title %></div>
    <%# need to specify user_id so as not to end up in stranger's channels
    if (user_id == 'johanna-flato') {} %>
    <div class="connections">
      filed under:
        <% for (let block of helpers.shuffle(connections)) { %>
          <%- include('partials/connection', { block, definitionPathPrefix }); -%>
        <% } %>
    </div>
    <% if (description_html) { %>
      <div class="block-metadata-description">
        <%- description_html %>
      </div>
    <% } %>
    <% if (source) { %>
      <div class="block-metadata-source">
        Source: <a href="<%= source.url %>"><%= source.title %></a>
      </div>
    <% } %>
  </div>
</main>
<%- include('partials/footer'); -%>
