<%- include('partials/header'); -%>
<main id="show">
  <h1 class="page-title">
        notes towards <a href="/">a syn-site</a>: <%= title %>
  </h1>
  <div class="block">
    <%# blocks are either from 'source' (embed, image, link) or 'content' (text w markup). the below shows a large image if it isn't a 'media' embed (youtube or vimeo video) %>
    <% if (embed) { %>
      <a href="<%= source.url %>">
        <img src="<%= image.large.url %>" />
      </a>
    <% } else { %>
      <img src="<%= image.large.url %>" />
    <% } %>
    <%# this bit is for text %>
    <% if (content) { %>
      <div class="block-content-clicked">
        <%- content_html %>
      </div>
    <% } %>
  </div>
  <div class="block-metadata">
    <div class="block-metadata-title"><%= title %></div>
    <% if (description_html) { %>
      <div class="block-metadata-description">
        <%- description_html %>
      </div>
    <% } %>
    <% if (source) { %>
      <div class="block-metadata-source">
        Source: <a href="<%= source.url %>"><%= source.title %></a>
      </div>
    <% } %>
  </div>
</main>
<%- include('partials/footer'); -%>
