<%- include('partials/head'); -%>
<main id="show">
  <%- include('partials/nav'); -%>
  <div class="block">
    <% if (embed) { %>
      <a href="<%= source.url %>"><img src="<%= image.large.url %>" /></a>
    <% } else if (content) {%>
      <div class="content-show">
        <%- content_html %>
      </div>
    <% } else { %>
      <img src="<%= image.large.url %>" />
    <% } %>
  </div>
  <div class="block-metadata">
    <div class="block-metadata-title"><%= title %></div>
    <%# specifying user_id so as not to return stranger's channels %>
    <div class="connections">
      filed under:
        <% for (let block of helpers.shuffle(connections)) { %>
          <% if (block.user_id == '11412') { %>
            <%- include('partials/connection', { block, definitionPathPrefix }); -%>
          <% } %>
        <% } %>
    </div>
    <% if (description_html) { %>
      <div class="block-metadata-description">
        <%- description_html %>
      </div>
    <% } %>
    <% if (source) { %>
      <div class="block-metadata-source">
        Source: <a href="<%= source.url %>"><%= source.title %></a>
      </div>
    <% } %>
  </div>
</main>
<%- include('partials/footer'); -%>
