<%- include('partials/head'); -%>
<main id="show">
  <%- include('partials/nav'); -%>
  <div class="block">
    <% if (embed) { %>
      <a href="<%= source.url %>"><img src="<%= image.large.url %>" /></a>
    <% } else if (content) {%>
      <div class="content-show">
        <%- content_html %>
      </div>
    <% } else { %>
      <img src="<%= image.large.url %>" />
    <% } %>
  </div>
  <div class="block-metadata">
    <h2 class="block-metadata-title"><%= title %></h2>
    <% if (description_html) { %>
      <div class="block-metadata-description">
        <%- description_html %>
      </div>
    <% } %>
    <div>
      <%# specifying user_id so as not to return stranger's channels %>
      <%# formatted to remove inline whitespace %>
      <ul class="connections">
        <i>filed under:</i>
        <% for (let block of connections) { %><%
          if (block.user_id == '11412') { %><li>
            <%-include('partials/connection', { block, definitionPathPrefix }); -%></li><%
          } %><% } %>
      </ul>
    </div>
    <% if (source) { %>
      <div class="block-metadata-source">
        <i>source: </i><a class="external-link" href="<%= source.url %>"><%= source.title %></a>
      </div>
    <% } %>
  </div>
</main>
<%- include('partials/footer'); -%>
